{% comment %} 
    THIS CONTAINS THE NAVBAR AND OTHER STUFF THAT WE WILL BE CONSTANTLY
    PRESENT ON OTHER WEBPAGES
{% endcomment %}

<!doctype html>
<html lang="en">
    <head>
        <title>{% block page_title %}Home{% endblock  %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}<link rel="stylesheet" href="{% static 'styles.css' %}"> 
    </head>

    <body>
        <div class="header-main-container">
            <header>
                <div class='heading'>
                    <div class="logo-container">
                        <a href="{% url 'home'%}">
                            <img class="logo" src="{% static "CDU_logo.png" %}" alt="cdu logo">
                        </a>
                    </div>
                    <nav class='nav_container'>
                        <a href="{% url 'home'%}">Home</a>
                        <a href="{% url 'thesis_list' %}">Thesis List</a>
                        <a href= "{% url 'about_us' %}" >About Us</a>
                    </nav>
                </div>
            </header>
            <main>
                <div class = 'main_body'>
                    {% block main_body %}{% endblock  %}
                </div>
            </main>
        </div>
        <footer>
            <div class="footer-section">
                <div>
                    <h4>Contact Us:</h4>
                    <p class="contact">University@email.edu.au</p>
                </div>
            
                <div>
                    <p class="copyright">All Rights Reserved</p>
                </div>
                <div>
                    <h4 class="footer-title">GROUP 2</h4>
                    <p class="unit">HIT237</p>
                </div>
            </div>
        </footer>        
    </body>
</html>

