{% extends "main/base.html" %}

{% block page_title %}{{ thesis.title|title }}{% endblock %}

{% block main_body %}
    {% if thesis %}
        <ul class='thesis_desc'>
            <li class='thesis_block'>
                <h2 class="thesis_title">{{ thesis.title|title }}</h2>
                <hr>
                <div class="topic_number">
                    <p class='more_info'>Topic Number:</p>
                    <p>{{ thesis.topic_number }}</p>
                </div>
                <hr>
                <div class='supervisor'> 
                    <p class='more_info'>Supervisor:</p>
                    <p class='supervisor_name'>{{ thesis.supervisor }}</p>
                </div>
                <hr>
                <div class="description_container">
                    <p class='more_info'>Description:</p>
                    <p class='description'>{{ thesis.description }}</p>
                </div>
                <hr>
                <div class='supervisor'> 
                    <p class='more_info'>Category:</p>
                    <p class='category'>{{ thesis.category }}</p>
                </div><hr>
                
                <div class = 'campus'>
                    <p class = 'more_info'>Campus:</p>
                    <ul class='campus_list'>    
                        {% for campus in thesis.campus %}
                            <li class="campus-name">{{ campus }}</li>
                        {% endfor %}
                    </ul>
                </div><hr>
                <div class='courses'>
                    <p class = 'more_info'>Courses:</p>
                    <ul class ='courses_list'>
                        {% for course in thesis.course %}
                            <li class="course-name">{{course}}</li>
                        {% endfor %}
                    </ul>
                </div><hr>
            </li>
        </ul>
    {% else %}
        <div class="error_message">
            <h2>{{ error_message }}</h2>
            <p><em>Please input a valid thesis number and try again.</em></p>
        </div>
    {% endif %}

    <a href="{% url 'thesis_list' %}" class="back">Back to Thesis List</a>
    <div class="other_thesis">
        <h3>See other Thesis</h3>
        <ul class='all_theses'>
            {% for thesis in random_theses %}
                <li class='other_thesis_title'>
                    <p class="recommendations"><a href="{% url 'thesis_details' topic_number=thesis.topic_number %}">{{ thesis.title|title }}</a></p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
