@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    font-family: 'Roboto';
    --primary-color: #4dbabb;
    --secondary-color: #e6e6e6;
    --font-primary: black;
    --font-secondary: rgb(0, 61, 63);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    
    a{
        color:var(--font-secondary);
    }
}

header{
    padding: 50px 0 75px 0;
    margin: 0 0 3rem 0;
    background-image: linear-gradient(var(--primary-color), white);
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.home-content{
    h1{
        font-weight: bolder;
        text-align: center;
        font-size: 40px;
        margin: 0 0 3rem 0;
        color: var(--font-primary);
    }
    
    p{
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
    }

    a, .number{
        font-weight: 500;
    }

    .thesis-stats-container{
        display: flex;
        gap: 2rem;
        justify-content: center;
        
    }

    .thesis-stats{
        flex-direction: column;
        display: flex;
        text-align: center;
        border-radius: 10px;
        padding: 1rem 0;
        margin: 5rem 0;
        width: 15rem;
        background-color: var(--secondary-color);
    }
}

.logo{
    height: 3rem;
}

.nav_container{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;

    a{
        font-weight: 500;
    }
}

.main_body, .heading{
    width: 50%;
    margin: auto;
    min-width: 800px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    display: flex;
    align-items:flex-end;
    position: relative;
    width: 100%;
    margin: 5rem 0 0 0;
    padding: 5rem 0 2.5rem;
    background-image: linear-gradient(white, var(--primary-color));    
}

.footer-section {
    width: 50%;
    margin: 0 auto;
    min-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.supervisor, .courses, .campus, .topic_number, .description_container{
    display: flex;
    margin: 1.5rem 0;
}

.campus_list, .courses_list{
    display: flex;
    gap: 1rem 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.campus-name, .course-name{
    background-color: var(--secondary-color);
    padding: 0.3rem 1rem;
    border-radius: 1rem;
}

.list-line{
    margin-bottom: 60px;
}

.main_body h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
}


.main_body h3{
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 15px;
}

.description{
    line-height: 2;
    color: var(--font-primary);
}

.main-body-header{
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    justify-content: space-between;

    .thesis_title{
        font-weight: bold;
        margin-bottom: 0px;
        color: var(--font-primary);
        line-height: 1;
    }

    .per_page{
        display: flex;
        gap: 1rem;
    }
}

.thesis_desc{
    margin-bottom: 60px;
    margin-bottom: 20px;
    color: var(--font-primary);
}

.more_info{
    font-weight: 500;
    width: 10rem;
    color: var(--font-primary);
    flex-shrink: 0;
}

.error_message{
    
    padding: 50px 0;
    font-size: 20px;
    color: var(--font-primary);
}

.thesis_block{
    margin-bottom: 60px;
}

.go_back{
    text-align: right;
}

.go_back button{ 
    background-color: transparent;
    color: var(--font-secondary);
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    font-size: 15px
    
}
.go_back button::after{
    content:'';
    position:absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 61, 63);
    transition: all 0.3s ease; 
    opacity: 0;
}
.go_back button:hover::after{
    opacity: 1; 
}

.thesis-pages{
    display: flex;
    justify-content: space-between;

    .quick-links{
        gap: 2rem;
        display: flex;
    }
}

.recommendations{
    font-weight: 500;
    padding-bottom: 0.8rem;
}

.thesis-main-body{
    display: flex;
    justify-content: space-between;

    .left-side{
        width: 20%;

        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 14px;
        }

        legend{
            font-size: 1.2rem;
            font-weight: bold;
        }

        .supervisor-filter, .campus-filter, .course-filter, .category-filter{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            font-weight: 500;
        }

        .option{
            display: flex;
            gap: 1rem;
            align-items: flex-start;
            font-weight: normal;

            .filter-option{
                transform: translateY(2px);
            }
            label{
                cursor: pointer;
            }
        }
    }

    .right-side{
        width: 70%;
    }
}

.about-us{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .group2{
        font-weight: 600;
    }

    h3{
        margin: 2rem 0 0 0;
    }

    .grp-info{
        display: flex;
        gap: 5rem;
    }
    
    .grp-info-header{
        font-weight: 500;
    }

    .grp-info-name, .grp-info-number{
        p{
            padding: 0 0 1rem 0;
        }
    }
}

